---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Partners from "../components/Partners.astro";
import AboutVeyo from "../components/AboutVeyo.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout>
	<Header />

	<main>
		<Hero />
		<Services />
		<About />
		<Projects />
		<Partners />
		<AboutVeyo />
		<ContactSection />
	</main>
</Layout>