---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "VeYo Smart Solutions | Slimmer wonen. Beter leven.",
	description =
		"Professionele smart home-oplossingen, netwerken, beveiliging, verlichting en automatisatie in West- en Oost-Vlaanderen.",
} = Astro.props;
---

<!doctype html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#090909" />

		<title>{title}</title>
	</head>

    <body>
	    <slot />
	    <Footer />
	    <WhatsAppButton />
    </body>
</html>